{% extends "layout.html" %}

{% block title %}
    Account Info
{% endblock %}

{% block main %}
        <h2>Account Info</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for each in trans %}
                <tr>
                    <td>{{ each.symbol }}</td>
                    <td>{{ each.shares }} </td>
                    <td>{{ each.price | usd }} </td>
                </tr>
                {% endfor %}
                <tr>

                    <td></td>
                    <td border=3px solid #aaa><b>Cash Balance : </b></td>
                    <td>{{ cash|usd }}</td>
                </tr>
                <tr>

                    <td></td>
                    <td border=3px solid #aaa><b>TOTAL AC: </b></td>
                    <td>{{ total | usd }}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}
